<a href="https://colab.research.google.com/github/Eduardo-Alg/Python-para-Data-Science/blob/main/Desafios_Projetos_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
tamanho = len(lista)
maior = max(lista)
menor = min(lista)
soma = sum(lista)

In [ ]:
print(f"A lista possui {tamanho} números em que o maior número é {maior} e o menor número é {menor}. A soma dos valores presentes nela é igual a {soma}")

A lista possui 17 números em que o maior número é 99 e o menor número é 11. A soma dos valores presentes nela é igual a 743

In [24]:
valor = int(input("Digite um número inteiro: "))


def tabuada(numero: int):
  print(f'A tabuada do número {valor} é: ')
  for x in range(11):
    print(f'{numero} x {x} = {numero * x}')

tabuada(valor)

Digite um número inteiro: 555
A tabuada do número 555 é:
555 x 0 = 0
555 x 1 = 555
555 x 2 = 1110
555 x 3 = 1665
555 x 4 = 2220
555 x 5 = 2775
555 x 6 = 3330
555 x 7 = 3885
555 x 8 = 4440
555 x 9 = 4995
555 x 10 = 5550